* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    list-style: none;
}


:root {
    --dark-violet:#2d2640;
    --grayish-blue:#95a9c6;
    --very-dark-violet: #2b272f;
    --dark-grayish-violet: #837d87;
    --very-light-gray: #fafafa;
    --font-size: 1rem;
    --font-size-m: 1.4rem;
    --font-size-l: 2rem;
    --font-size-xl: 4rem;
    --font-fm-1: 'DM Serif Display', serif;
}

body {
    background-color: white;
}

@media (min-width: 375px) {
    /* NAVBAR MOBILE */
    .navbar-container {
        margin-bottom: 60px;
    }

    .menu-mobile, .navbar-wrapper {
        display: flex;
        height: 60px;
        width: 100%;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        padding: 0 25px;
        background-color: var(--very-light-gray);
    }
    
    .nav-control-mobile{
        display: block; /* por none depois*/
        height: 100%;
        width: 220px;
        position: fixed;
        top: 60px;
        right: -100%;
        background-color: var(--very-light-gray);
        transition:  all 0.3s;
    }

    .navbar-wrapper .nav-control, .hero hr, .hero-wrapper hr, .hero .bg-intro-left, .hero .bg-intro-rigth {
        display: none;
    }
    
    .nav-group-mobile {
        margin-top: 30px;
        text-align: left;   
    }
    
    .nav-group-mobile li {
        padding: 5px;
    } 

    .nav-link, .nav-link-mobile {
        font-size: 0.9rem;
        font-family: var(--font-fm-1);
        font-weight: 400;
        letter-spacing: .1rem;
        padding: 0.625rem;
        color: var(--dark-grayish-violet);
        text-transform: uppercase;
    }

    .nav-link:hover, .nav-link-mobile:hover {
        color: var(--very-dark-violet);
    }
    
    .btn-menu {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
    }

    /* SECTION HERO */
    .hero {
        display: table;
        position: relative;
        width: 100%;
        height: 650px;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .hero-aside {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 60px 25px;
        background-color: var(--dark-violet);
    }

    .hero-aside h1 {
        margin-top: 15px;
        font-size: var(--font-size-l);
        color: var(--very-light-gray);
        text-align: center;
    }

    .bg-intro-m-left {
        position: absolute;
        left: 0; top: 0;
    }

    .bg-intro-m-rigth {
        position: absolute;
        right: 0; top: 300px;
    }

    .hero-aside-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-aside-img img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-aside p {
        font-size: var(--font-size);
        text-align: center;
        line-height: 1.5;
        color: var(--very-light-gray);
    }

    .btn-hero-mobi {
        background-color: transparent;
        color: var(--very-light-gray);
        border: 1px solid var(--very-light-gray);
    }

    /* SECTION SERVICES */
    .services-container {
        max-width: 80%;
        margin: 0 auto 80px;
    }

    .services-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 70px;
        gap: 30px;
    }

    .services-container h2 {
        font-size: var(--font-size-l);
        text-align: center;
        margin-top: 80px;
    }

    .services-container h2::before {
        content: '';
        display: flex;
        flex-direction: column;
        height: 2px;
        width: 150px;
        margin: 0 auto 30px;
        background-color: var(--dark-grayish-violet);
    }

    .services-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-card h3 {
        margin-top: 15px;
        font-size: var(--font-size-m);
        font-family: var(--font-fm-1);
    }

    .services-card p {
        margin-top: 15px;
        font-size: var(--font-size);
        text-align: center;
        line-height: 1.5;
    }

    .hero-footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 250px;
        background-color: var(--dark-violet);
    }

    .hero-footer-contact .bg-pattern-mobi {
        position: absolute;
        right: 0;
        height: 100%;
    }

    .hero-footer-contact .bg-pattern-desk{
        display: none;
    }

    .hero-footer-wrapper {
        width: 350px;
        text-align: center;
    }

    .hero-footer-wrapper h2 {
        font-size: var(--font-size-l);
        line-height: 1;
        color: var(--very-light-gray);
    }

    .btn-hero-footer {
        width: 180px !important;
        margin-top: 30px;
        color: var(--very-light-gray);
        border: 1px solid var(--very-light-gray);
        background-color: transparent;
        z-index: 400;
    }

    .btn-hero-footer:hover, .btn-large:hover {
        background-color: var(--dark-grayish-violet);
    }

    /* FOOTER */
    footer {
        position: relative;
        background-color: var(--very-light-gray);
        height: 100%;
        padding-bottom: 50px;
    }

    footer > img:nth-child(1) {
        display: none;
    }

    footer > img:nth-child(2) {
        display: block;
        height: 100%;
        width: 100%;
    }

    .header-footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 80%;
        height: 80px;
        margin: 90px auto 0;
        left: 0; right: 0; top: 0;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .header-footer hr {
        display: block;
        width: 100%;
        margin-top: 50px;
        background-color:hsl(276, 4%, 90%);
    }

    .social-midia {
        margin-bottom: 15px;
    }

    .social-midia ion-icon {
        font-size: 26px;
        color: var(--dark-grayish-violet);
        vertical-align: middle;
        padding-right: 5px;
    }

    .social-midia ion-icon:hover {
        color: var(--very-dark-violet);
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 50px auto 0;
    }

    .foorter-list span, .foorter-list a {
        display: block;
        text-transform: uppercase;
        font-size: var(--font-size);
        color: var(--dark-grayish-violet);
        font-weight: 700;
        margin-bottom: 20px;
    }

    .foorter-list li {
        margin-top: 10px;
    }

    .foorter-list a {
        color: var(--very-dark-violet);
        margin-bottom: 0;
    }

    .foorter-list a:hover {
        text-decoration: .125rem underline;
    }
}

@media (min-width: 1440px) {
    .menu-mobile, .bg-intro-m-left, .bg-intro-m-rigth, .header-footer hr {
        display: none;
    }

    /* SECTION NAVBAR */
    .navbar-wrapper .nav-control {
        display: flex;
    }

    .navbar-wrapper .nav-control li {
        padding: 0 0.625rem;
    }

    .btn-plan {
        color: var(--very-light-gray);
        background-color: var(--very-dark-violet);
        transition: all 0.2s;
    }

    .btn-plan:hover {
        background-color: var(--grayish-blue);
    }

    .hero-wrapper {
        display: flex;
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 60px 0;
    }
    /* SECTION HERO */
    .hero .bg-intro-left {
        display: block;
        height: 45%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .hero .bg-intro-rigth {
        display: block;
        height: 65%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .hero-conteiner {
        width: 100%;
        height: 500px;
        background-color: var(--dark-violet);
    }

    .hero-wrapper {
        flex-direction: row;
        margin: 0 auto;
        padding: 60px 0;
    }

    .hero-aside {
        display: table;
        margin-right: 30px;
        padding: 0;
    }

    .hero-aside-img {
        width: 60%;
        height: 140%;
    }

    .hero-aside h1 {
        font-size: var(--font-size-xl);
        text-align: left;
    }

    .hero-aside p, .services-card p, .hero-footer-wrapper h2 {
        text-align: left;
    }

    .hero-wrapper hr {
        display: block;
        width: 150px;
        height: 3px;
        background-color: var(--very-light-gray);
        margin-bottom: 50px;
    }

    .hr-bottom {
        display: block;
        width: 150px;
        height: 3px;
        margin-left: 10%;
        position: absolute;
        bottom: 0;
        border: 0;
        background-color: var(--dark-grayish-violet);
    }

    /* SECTION SERVICES */
    .hero-footer-contact {
        max-width: 80%;
        margin: 0 auto 80px;
    }

    .services-wrapper {
        flex-direction: row;
    }

    .services-container h2 {
        font-size: var(--font-size-xl);
        text-align: left;
        margin-top: 40px;
    }

    .services-container h2::before {
        margin: 0 0 50px;
    }

    .services-card {
        align-items: flex-start;
    }

    .hero-footer-contact {
        flex-direction: row;
        justify-content: space-between;
        height: 180px;
    }

    .hero-footer-contact .bg-pattern-desk {
        display: block;
        height: 100%;
    }

    .hero-footer-contact img {
        display: none;
    }

    .hero-footer-wrapper {
        margin-left: 60px;
    }

    .btn-hero-footer {
        position: absolute;
        right: 0;
        margin: 0px 60px 0 0px;
        background-color: var(--very-light-gray);
        color: var(--very-dark-violet);
    }

    .btn-large {
        background-color: var(--very-light-gray);
        color: var(--very-dark-violet);
    }

    /* FOOTER */
    footer > img:nth-child(1) {
        display: block;
        margin-bottom: 50px;
    }

    footer > img:nth-child(2) {
        display: none;
    }

    .header-footer {
        flex-direction: row;
        height: 70px;
        margin: 20px auto 0;
        border-bottom: 2px solid hsl(276, 4%, 90%);
        justify-content: space-between;
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 0px;
        margin: 0 auto;
        text-align: left;
    }
}




/* UTILITÁRIOS */
.title-h1 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    word-wrap: break-word;
    color: var(--very-light-gray);
    line-height: 0.7;
}

.title-h2 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    color: var(--very-dark-violet);
}

.marg-top-30 {
    margin-top: 30px;
}

.marg-30 {
    margin: 30px 0;
}

.btn-large {
    cursor: pointer;
    width: 120px;
    padding: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
}

.is-expend {
    display: block;
    right: 0;
}
